.hamburger {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 10px;
}

.hamburger-bar-1,
.hamburger-bar-2,
.hamburger-bar-3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.hamburger-opened .hamburger-bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.hamburger-opened .hamburger-bar-2 {
  opacity: 0;
}

/* Rotate last bar */
.hamburger-opened .hamburger-bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
